.contai {
  width: 70%;
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--border-color);
  .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      padding: 5%;
    }
    .logo {
      height: 120px;
      width: 120px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    p {
      font-size: 13px;
    }
    button {
      margin-bottom: 15px;
    }
  }
}
