<div class="contai">
  <div class="register-image image"></div>
  <div class="form">
    <div class="logo"></div>
    <h2>Kayıt Ol</h2>
    <input type="text" name="" id="" placeholder="Ad" />
    <input type="text" name="" id="" placeholder="Soyad" />
    <input type="text" name="" id="" placeholder="TC Kimlik Numarası" />
    <input type="password" name="" id="" placeholder="Şifre" />
    <input type="password" name="" id="" placeholder="Şifre(Tekrar)" />
    <input type="date" name="" id="" placeholder="Doğum Tarihi" />
    <button>Giriş Yap</button>
    <p>Hesabın var mı?<a routerLink="/login" href="/login">Giriş Yap</a></p>
  </div>
</div>
