input {
    width: 60%;
    height: 4%;
    border: 1px solid $border-color;
    border-radius: 15px;
    margin-bottom: 30px;
}

input[type=text],
input[type=password] {
    padding: 0 10px;
    box-sizing: border-box;
}