nav {
    background-color: $primary-color;
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    .nav {
        width: 80%;
        height: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h2 {
            padding: 0px;
            margin: auto 0px;
        }
        a {
            color: #ffffff;
            text-decoration: none;
            padding: 0px 10px;
        }
        a:active {
            color: white;
            text-decoration: none;
        }
        .menu {
            display: flex;
        }
    }
}