<nav>
  <div class="nav">
    <h2><a href="/">TheHoldem</a></h2>
    <div *ngIf="!isLogin" class="menu">
      <a routerLink="/login" href="/login">
        <h4>Oturum aç</h4>
      </a>
      <a routerLink="/register" href="/register">
        <h4>Kaydol</h4>
      </a>
    </div>
    <div *ngIf="isLogin" class="menu">
      <a href="">
        <h4>{{ user.firstName + " " + user.lastName }}</h4>
      </a>
      <a (click)="logOut()" href="">
        <h4>Çıkış Yap</h4>
      </a>
    </div>
  </div>
</nav>
