<div class="container">
  <h1>{{ statusText }}</h1>
  <button *ngIf="!isStart" (click)="startElection()">Başlat</button>
  <button *ngIf="isStart" (click)="stopElection()">Durdur</button>
  <button *ngIf="isResultBtn" (click)="getResult()">Sonuçları görüntüle</button>
  <div *ngIf="isResult">
    <table>
      <thead>
        <th>Ad</th>
        <th>Parti</th>
        <th>Oy</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of results">
          <td>{{ item.name }}</td>
          <td>{{ item.party }}</td>
          <td>{{ item.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
