@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
input {
  width: 60%;
  height: 4%;
  border: 1px solid #707070;
  border-radius: 15px;
  margin-bottom: 30px;
}

input[type=text],
input[type=password] {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  color: white;
  background-color: #0095F6;
  width: 60%;
  height: 4%;
  border: 0;
  border-radius: 15px;
  font-weight: 700;
  font-size: 15px;
}

.image {
  height: 100vh;
  width: 874px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vote-page {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vote-page .candidates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.vote-page .candidates .candidate {
  margin: 150px 20px;
  margin-bottom: 100px;
  padding: 50px 70px;
  border: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vote-page .candidates .candidate .candidate-img {
  background-image: url("../../img/personimg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #707070;
  height: 120px;
  width: 120px;
}

.vote-page .candidates .candidate .circle {
  padding: 50px;
  border: 1px solid #707070;
  border-radius: 50%;
  margin: 20px 0;
}

.vote-page .candidates .candidate .name {
  border: 1px solid #707070;
  padding: 0 5px;
}

.vote-page .candidates .candidate .name h3 {
  margin: 2px;
  font-size: 10px;
}

.vote-page .candidates .circle:hover {
  background-image: url("../../img/checked.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vote-page button {
  height: 40px;
  width: 12vw;
}

.main-menu {
  width: 100%;
}

.main-menu .navbar {
  width: 100%;
  background-color: #0095F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-menu .navbar .nav-title {
  color: white;
  font-weight: 700;
  padding-left: 200px;
}

.main-menu .navbar .choose-title {
  color: white;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 200px;
}

.main-menu .navbar .choose-title h3 {
  margin: 0 10px;
}

.main-menu .choosing-menu {
  width: 80%;
  height: 80vh;
  margin: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu .choosing-menu .line-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
}

.main-menu .choosing-menu .line-1 .type-1 {
  position: relative;
  border: 1px solid #707070;
  border-radius: 12px;
  padding: 25px 125px;
  margin: 0 10px;
}

.main-menu .choosing-menu .line-1 .type-1 h3 {
  position: absolute;
  left: 25px;
  top: 0;
}

.main-menu .choosing-menu .line-1 .type-1 h2 {
  padding: 20px 0;
}

.main-menu .choosing-menu .line-1 .type-2 {
  position: relative;
  border: 1px solid #707070;
  border-radius: 12px;
  padding: 25px 125px;
  margin: 0 10px;
}

.main-menu .choosing-menu .line-1 .type-2 h3 {
  position: absolute;
  left: 25px;
  top: 0;
}

.main-menu .choosing-menu .line-1 .type-2 h2 {
  padding: 20px 0;
}

.main-menu .choosing-menu .line-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px 0;
}

.main-menu .choosing-menu .line-2 .type-3 {
  position: relative;
  border: 1px solid #707070;
  border-radius: 12px;
  padding: 25px 125px;
  margin: 0 10px;
}

.main-menu .choosing-menu .line-2 .type-3 h3 {
  position: absolute;
  left: 25px;
  top: 0;
}

.main-menu .choosing-menu .line-2 .type-3 h2 {
  padding: 20px 0;
}

.main-menu .choosing-menu .line-2 .type-4 {
  position: relative;
  border: 1px solid #707070;
  border-radius: 12px;
  padding: 25px 125px;
  margin: 0 10px;
}

.main-menu .choosing-menu .line-2 .type-4 h3 {
  position: absolute;
  left: 25px;
  top: 0;
}

.main-menu .choosing-menu .line-2 .type-4 h2 {
  padding: 20px 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Montserrat", sans-serif;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .container .register-image {
  background-image: url("../../img/registerimg.jpg");
}

body .container .login-image {
  background-image: url("../../img/loginimg.jpg");
}

body .container .form {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #707070;
}

body .container .form h2 {
  padding-bottom: 5%;
}

body .container .form .logo {
  background-image: url("../../img/logo.png");
  height: 120px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body .container .form p {
  font-size: 13px;
}
/*# sourceMappingURL=main.css.map */