<div class="vote-page">
  <div class="candidates">
    <div *ngFor="let item of candidates" class="candidate">
      <div class="candidate-img"></div>
      <div #circile class="circle" (click)="setCandidateId(radioInput.id)">
        <input
          #radioInput
          class="rb"
          type="radio"
          name="candidate"
          id="{{ item.id }}"
        />
      </div>
      <div class="name">
        <h3>{{ item.name }}</h3>
      </div>
    </div>
  </div>

  <button (click)="sendVote()">Oy Kullan</button>
</div>
